# Prometheus Python client
prometheus-client==0.12.0

# Flask & Web server
Flask==2.0.2

# Testing
pytest==6.2.5
pytest-cov==3.0.0
mypy==0.930
codecov==2.1.12
safety==1.10.3

# Linters
black==21.12b0
flake8==4.0.1
isort==5.10.1
