# Prometheus Python client
prometheus-client==0.13.1

# Flask & Web server
Flask==2.0.3

# Testing
pytest==5.2.2
pytest-cov==2.8.1
mypy==0.740
codecov==2.0.15
safety==1.8.5

# Linters
black==19.10b0
flake8==3.7.9
isort==4.3.21
