# Prometheus Python client
prometheus-client==0.14.1

# Flask & Web server
Flask==2.1.2

# Testing
pytest==7.1.2
pytest-cov==3.0.0
mypy==0.960
codecov==2.1.12
safety==1.8.5

# Linters
black==19.10b0
flake8==3.7.9
isort==4.3.21
